@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-rubik);
}

.markdown > * {
  all: revert;
}

.markdown img {
  @apply rounded-md;
}

.tooltip-fast {
  animation-duration: 150ms;
}

@layer base {
  :root {

    --radius: 0.5rem;

    --color-1: 0 100% 63%;

    --color-2: 270 100% 63%;

    --color-3: 210 100% 63%;

    --color-4: 195 100% 63%;

    --color-5: 90 100% 63%;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}


@layer utilities {
  /* Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

}
